ul.social-media {
  display: flex;
  list-style-type: none; /* Usuwa kropki */
  padding: 0;
  margin: 0;
  justify-content: center; /* Wyśrodkowanie elementów */
}

ul.social-media li {
  margin: 0 15px; /* Odstępy między elementami */
}
  li {
    display:inline;
    margin-right: 1em;
  }

  li a {
    text-decoration: none;
    font-weight: normal
  }