---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}

{%- if page.tags -%}
    {% for tag in page.tags %}
        <a href="{{site.baseurl}}/archive.html#{{tag | slugize}}">
            #{{ tag }}
        </a>
    {% endfor %}
{%- endif -%}
<br>
<div>
{%- if page.categories.size > 0 -%}
    {%- for tag in page.categories -%}
<a href="{{site.baseurl}}/kategorie.html#{{tag | slugize}}">
            Kategorie:{{ tag }}
        </a>
 {% endfor %}
    {%- endif -%}
</div>